* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.form {
  max-width: 600px;
  height: 300px;
  margin: 40px auto;
  background-color: rgb(40, 128, 185);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.input {
  width: 80%;
  height: 40px;
  outline: none;
  border: none;
  background-color: rgb(217, 217, 217);
  padding-left: 10px;
  font-size: 18px;
}
.input::-webkit-input-placeholder {
  font-size: 18px;
}
.btn {
  width: 50%;
  height: 40px;
  background-color: rgb(24, 160, 132);
  outline: none;
  border: none;
  border-radius: 8px;
  color: rgb(250, 250, 250);
  font-size: 20px;
  cursor: pointer;
}
.container {
  width: 700px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.product {
  border: 2px solid rgb(80, 79, 79);
  width: calc((700px / 3) - 20px);
  aspect-ratio: 1;
  padding: 10px 10px 20px 20px;
  margin: 10px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info {
  width: 700px;
  margin: 20px auto;
  font-size: 20px;
}
.info > p {
  padding: 10px;
}

.btn-del {
  align-self: flex-end;
  cursor: pointer;
  font-size: 20px;
}
